body {
    font-family: 'Roboto', sans-serif;
}

.content {
    border: 1px solid #aeaeae;
}

.content:hover {
    box-shadow: 0 10px 100px 0 rgba(34,36,38,.25);
    transition: all 0.2s linear;
}

.intro {
    font-weight: 300;
    font-size: 1.5rem;
}

.position {
    font-weight: 700;
    text-transform: capitalize;
}

.description {
    text-align: justify;
}

.lang {
    margin-left: .25em;
}

.skills {
    line-height: 2;
}

.badge {
    font-size: 1em;
    font-weight: 400;
    background-color: #ddd;
}